.page-head {
	position: fixed;
	top: 0;
	z-index: 1;
	display: none;
	justify-content: center;
	align-items: center;
	font-size: 36rpx;
	text-align: center;
	background: #FEFEFE;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
	width: 0px;
	height: 0px;
	opacity: 0;
}

.uni-page-head-btn {
	position: absolute;
	top: 0;
	left: 0;
	line-height: 88rpx;
}

.page-head-b {
	font-weight: 400;
	font-size: 46rpx;
}

.concent_box {
	/* padding-top: 88rpx; */
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix {
	zoom: 1;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

body.modalOpen {
	-webkit-overflow-scrolling: touch;
	position: fixed;
	width: 100%;
}

.tsHtml * {
	word-wrap: break-word;
	word-break: normal;
	line-height: normal;
}

.tsHtml img {
	max-width: 100%;
}

.tsHtml a {
	text-decoration: underline;
	color: rgb(0, 0, 238);
}

.tsHtml a:hover {
	text-decoration: underline;
	color: rgb(0, 0, 238);
}

.tsHtml a:focus {
	text-decoration: underline;
}

.tsHtml ul {
	margin: 0;
	list-style-type: circle;
}

.tsHtml ol {
	margin: 0;
	list-style-type: circle;
}

.tsHtml li {
	margin: 0;
	list-style-type: circle;
}

.tsHtml h1 {
	font-weight: bold;
}

.tsHtml h2 {
	font-weight: bold;
}

.tsHtml h3 {
	font-weight: bold;
}

.tsHtml h4 {
	font-weight: bold;
}

.tsHtml h5 {
	font-weight: bold;
}

.tsHtml h6 {
	font-weight: bold;
}

.tsHtml p {
	margin: 5px 0;
}

.tsHtml p {
	word-wrap: break-word;
	word-break: normal;
}
.tsHtml table {
	width: 100% !important;
	border-collapse: collapse;
	margin: auto;
}
.tsHtml table td {
	font: 12px/1.5 "sans serif",tahoma,verdana,helvetica;
}
uni-toast{
	height: 100vh !important;
}
uni-toast .uni-sample-toast{
	position: absolute;
}
uni-toast .uni-simple-toast__text{
	margin-bottom: 0rpx !important;
}
.concent_box{
	width: 100%;
}
.concent_l{
	width: 100%;
}
